$color_1: #204c7b;
$color_2: #F4B33E;
$color_3: #FEFEFE;

#logo-container {
  width: 300px;
  font-weight: 500;
}

h1 {
  margin-top: 7rem;
  color: transparent;
  font-size: 5rem;
  text-shadow: 2px 2px 7px $color_3;
}

.parallax-container {
  height: 350px;
}

body, nav, #sidenav a, .nav-wrapper a {
  color: $color_1;
  background-color: $color_3; 
}

.sidenav {
  text-transform: uppercase;
  overflow: hidden;
}

.dropdown-trigger {
  font-weight: 500;
}

.last-element {
  padding-bottom: 4rem !important;
}

#portfolio {
  background-color: $color_3;
}

.card-content {
  height: 110px;
}

.dropdown-content li a {
  color: $color_1;
}

.btn-floating, .btn-floating:hover {
  background-color: $color_2;
}

#sidenav li a:hover {
  color: $color_2;
}

#menu-button {
  font-size: 32px;
}

.brand-logo {
  margin-left: 10px;
}

.tap-target-content {
  h5, p {
    padding-left: 4rem;
    color: $color_1;
  }
}

#sidebar-contact:hover {
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .card-action a {
    margin-right: 0 !important;
  }

  .brand-logo {
    margin-left: unset;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4.2rem;
  }
}
